.arcade-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    min-height: calc(100vh - 140px); 

    padding:20px;
}

.arcade-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}


.arcade-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #7c4dff;
  background: transparent;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.arcade-btn:hover {
  background: #7c4dff;
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(124, 77, 255, 0.4);
  color: white;
}

.categoria-chip{
    border-radius: 50px;
    padding: 0.3rem;
    color: black;
}

.categoria-container{
    margin-bottom: 20px;
}

.arcade-wrapper.fail{
    min-height: 140px;
}