<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade de Preguntas - Challenge Hub</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tpfinal_mvc/assets/Css/style.css">

</head>
<body>

<header>
    <a class="logo" href="/tpfinal_mvc/game/home"><img src="/tpfinal_mvc/assets/Img/logo.png" alt="Logo"></a>
    
    <nav>
        <ul class="nav_links">
            <li><a href="/tpfinal_mvc/game/home">Inicio</a></li>
            {{^loggedIn}}
            <li><a href="/tpfinal_mvc/game/registro">Registro</a></li>
            <li><a href="/tpfinal_mvc/game/login">Login</a></li>
            {{/loggedIn}}
            {{#loggedIn}}
            <li><a href="/tpfinal_mvc/game/perfil">Mi perfil</a></li>
            <li><a href="/tpfinal_mvc/game/quiz?q=0">Desafíos</a></li>
            <li><a href="/tpfinal_mvc/game/logout">Salir</a></li>
            {{/loggedIn}}
        </ul>
    </nav>
    

    {{#loggedIn}}
    <div class="user-badge">
        Hola, {{username}}. {{^validated}}Tu correo aún no está validado.{{/validated}}{{#validated}}Tu correo está validado.{{/validated}}
    </div>
    {{/loggedIn}}
</header>
