{{>header}}


<div class="hero">

    
    <div class="hero-text">
        <h1 class="title">Arcade de Desafíos</h1>

        <p class="subtitle">
            {{subtitle}}
        </p>

        {{^loggedIn}}
        <div class="cta-buttons">
            <a href="/tpfinal_mvc/User/registro" class="btn primary">Crear cuenta</a>
            <a href="/tpfinal_mvc/User/login" class="btn secondary">Iniciar sesión</a>
        </div>
        {{/loggedIn}}

        {{#loggedIn}}
        <div class="cta-buttons">
            <a href="/tpfinal_mvc/Game/lobby" class="btn primary">Iniciar desafío</a>
            <a href="/tpfinal_mvc/User/perfil" class="btn secondary">Ver perfil</a>
        </div>
        {{/loggedIn}}
    </div>

    
    <div class="hero-image">
        <img src="/tpfinal_mvc/assets/Img/heroImage.png" alt="Hero Image">
    </div>

</div>

{{>footer}}
