{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/lobby.css">
<main class="lobbyContainer">
        <div class="lobbyInfo">
                <h2>{{user.usuario}}</h2>
                <p> Puntaje Maximo: {{user.puntaje_max}}</p>
                <a href="/tpfinal_mvc/Game/ranking" class="btn secondary">Ranking</a><br>
                <a href="/tpfinal_mvc/Game/ruleta" class="btn primary">Empezar partida</a>
        </div>

</main>

{{>footer}}