{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/lobby.css">
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/modalCrearPregunta.css">
<main class="lobbyContainer">
        <div class="lobbyInfo">
                <h2>{{user.usuario}}</h2>
                <p> Puntaje Maximo: {{user.puntaje_max}}</p>
                <a href="/tpfinal_mvc/Game/ranking" class="btn secondary">Ranking</a><br>
                <a href="/tpfinal_mvc/Game/ruleta" class="btn primary">Empezar partida</a>
                

                {{#mensaje}}
                <div class="succesMessage">
                {{mensaje}}
                </div>
                {{/mensaje}}
                <button id="modalBtn" class="report-btn" type="button">
                <i class="bi bi-file-plus"></i>
                </button>
                <div id="crearModal" class="modal">
                        <div class="modal-box">
                                <button class="close-modal" id="closeModal">
                                        <i class="bi bi-x-lg"></i>
                                </button>
                                <h3>Sugerir pregunta</h3>
                                <form action="/tpfinal_mvc/Game/sugerirPregunta" method="POST">
                                        <input
                                        type="text"
                                        name="nuevaPregunta"
                                        class="inputPregunta"
                                        placeholder="Escribí tu pregunta">
                                        
                                        <p>Opcion correcta</p>

                                        <input
                                        type="text"
                                        name="respuestaCorrecta"
                                        placeholder="Respuesta correcta">

                                        <p>Opciones Incorrectas</p>
                                        
                                        <input
                                        type="text"
                                        name="incorrecta1"
                                        placeholder="Respuesta incorrecta">
                                        
                                        <input
                                        type="text"
                                        name="incorrecta2"
                                        placeholder="Respuesta incorrecta">
                                        
                                        <input
                                        type="text"
                                        name="incorrecta3"
                                        placeholder="Respuesta incorrecta">

                                        <p>Categoria</p>
                                        <select name="id_tipo_pregunta" id="categoria" required>
                                                <option value="">Seleccione una categoría</option>

                                                {{#categorias}}
                                                        <option value="{{id}}">
                                                        {{tipo}}
                                                        </option>
                                                {{/categorias}}

                                                <option value="nueva">Sugerir nueva categoría</option>
                                        </select>
                                                

                                        <div id="nuevaCategoria" style="display:none;">
                                                <label>Nombre</label>
                                                <input
                                                type="text"
                                                name="nombreCategoria">
                                                <label>Color</label>
                                                <div class="colorPreview">
                                                        <span
                                                        id="previewColor"
                                                        class="colorCircle">
                                                        </span>
                                                        <input
                                                        type="color"
                                                        name="colorCategoria"
                                                        id="categoriaColor"
                                                        value="#7c4dff">
                                                </div>
                                        </div>

                                        
                                        <div class="modal-actions">
                                                <button
                                                        type="button"
                                                        id="cancelModal"
                                                        class="btn-report secondary">
                                                        Cancelar
                                                </button>
                                                <button
                                                        type="submit"
                                                        class="btn-report primary">
                                                        Enviar sugerencia
                                                </button>
                                        </div>
                                </form>
                        </div>
                </div>
                        
        </div>

</main>

{{>footer}}
<script src="/tpfinal_mvc/assets/js/lobby.js"></script>