{{>header}}
 <link rel="stylesheet" href="/tpfinal_mvc/assets/Css/login.css">
<section class="loginContainer">
    <h2>Acceder</h2>
    {{#error}}
    <div class="errorMessage">
        {{error}}
    </div>
    {{/error}}
    <form class="loginForm" action="/tpfinal_mvc/User/procesarLogin" method="POST">
        <div>
            
            <input type="email" id="email" name="email" value="{{email}}" placeholder="jugador@arcade.com" required>
        </div>
        <div>
            
            <input type="password" id="password" name="password" placeholder="Tu contraseña" required>
        </div>
        <button type="submit" class="btn primary">Iniciar Sesion</button>
        <a href="/tpfinal_mvc/User/registro" class="btn secondary">Crear cuenta</a>
    </form>
</section>
{{>footer}}
