{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/register.css">
<div class="errorContainer">
    <h2>{{title}}</h2>
    <div class="panel">
        <p>{{message}}</p>
    </div>
    <a href="/tpfinal_mvc/game/home" class="btn secondary">Volver al inicio</a>
</div>
{{>footer}}
