{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/profile.css">

<section class="profileContainer">

    <div class="profileLeft">
        <div class="profileFoto">
            <img src="/tpfinal_mvc/assets/Img/default.png" alt="Foto de perfil">
                    <!-- {{#user.foto_perfil}} -->
        <!--    <img src="tpfinal_mvc/{{user.foto_perfil}}" alt="Foto de perfil"> -->
        <!--{{/user.foto_perfil}} -->
            <h1>{{user.usuario}}</h1>
        </div>

        <div class="stats">
            <div class="statCard">
                <span class="statNumber">{{user.score}}0</span>
                <span class="statLabel">Puntaje</span>
            </div>

            <div class="statCard">
                <span class="statNumber">{{user.preguntas_respondidas}}0</span>
                <span class="statLabel">Respondidas</span>
            </div>
        </div>
    </div>

    <div class="profileInfo">
        <p><strong>Nombre:</strong> {{user.nombre}} {{user.apellido}}</p>
        <p><strong>Correo:</strong> {{user.email}}</p>
        <p><strong>Ciudad:</strong> {{user.ciudad}}</p>
        <p><strong>País:</strong> {{user.pais}}</p>
        <p><strong>Año de nacimiento:</strong> {{user.anio_nacimiento}}</p>
    </div>

</section>
