{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/ruleta.css">
<main class="ruletaContainer">

{{#categorias}}

<div class="card" 
     data-id="{{id}}" 
     style="--color:{{color}}">
    {{tipo}}
</div>

{{/categorias}}

</main>

<script>
    const selectedId = {{id_tipo}};
</script>

<script src="/tpfinal_mvc/assets/js/ruleta.js"></script>

{{>footer}}
