{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/register.css">
<div class="succesContainer">
    <h2>Correo verificado</h2>
    <div>
        <p>La dirección <strong>{{email}}</strong> ya está confirmada. Ya puedes iniciar sesión y continuar con tus retos.</p>
        <a href="/tpfinal_mvc/game/login" class="btn primary" >Ir a login</a>
    </div>
    <a href="/tpfinal_mvc/game/home" class="back secondary">Volver</a>
</div>
{{>footer}}
