{{>header}}
<link rel="stylesheet" href="/tpfinal_mvc/assets/Css/register.css">
<div class="validateContainer">
    <h2>Verificación de correo</h2>
    <div>
        <p>Se ha enviado un mensaje simulado a <strong>{{email}}</strong>. Para activar tu cuenta, pulsa el siguiente botón:</p>
        <p>Ingrese el código de verificación:</p>
        <a href="/tpfinal_mvc/game/validarCorreo?email={{email}}&code={{code}}" class="btn primary">Validar correo</a>
        <a href="/tpfinal_mvc/game/home" class="btn secondary">Volver al inicio</a>
    </div>
    
</div>
{{>footer}}
